*{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 0x;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --bg-color: #161616;
    --second-bg-color:#191919;
    --text-color: #fff;
    --second-color:#f9fafcef;
    --main-color:#f9004d;
}
/*---------------top-banner-----------*/
.banner{
    border-width: 1321px;
    border-top: 50px;
    border-left: 140px;
    border-radius: 30px;
    background-color: var(--bg-color) ;
    color: var(--text-color);
    --big-font: 4.0rem;
    --h2-font: 3.0rem;
    --p-font: 2.1rem;
}
.banner-container{
    display: flex;
    align-content: space-between;
}
.banner-items{
    padding: 100px;
}
.banner-items h1{
    margin: 40px 0px 30px;
    font-size: var(--big-font);
}
.banner-items p{
    font-size: var(--p-font);
}
.btn{
    padding: 0 20px;
    height: 40px;
    width: 50%;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--second-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}
.btn:hover{
    transform: translateY(-5px);
}

.banner-image img{
    height: 100%;
}


/*----------mid----------*/
.mid{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.side-nav{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    background-color: #161616;
    border-radius: 5px;
    margin-top: 15px;
}
.side-nav a{
    margin-top: 10px;
    font-size: 1.0em;
    padding: 5px 10px;
    border: 2px solid var(--main-color) ;
    color: #000;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    font-weight: 900;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
.right-colum-card{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 0;
}
.colum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: left ;
}
.card-items{
    border: 2px solid rgb(53, 52, 52);
    width: 235px;
    margin: 20px;
    padding: 20px 20px 10px 10px;
}
.card{
    display: flex;
}
.schedule{
    justify-content: center;
    align-items: center;
}
/*-------------------------------blogs-------------------------------*/
.blogs-colum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blogs-card-items{
    border: 2px solid rgb(53, 52, 52);
    width: 312px;
    height: 362px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 0px;
    padding: 0;
    border-radius: 12px;
}
.blogs-card-items img{
    width: 100%;
}
.blog-btn{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 15px;
}
.blog-card-icons{
    display: flex;
}
.card-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 15px;
    color: #161616;
    padding-left: 20px;
}

/*-----------groups--------*/
.group-container{
    width: 25%;
}











/*-----footer---------------*/

.footer{
    text-align: center;
    background-color: var(--bg-color);
    padding: 45px 150px 50px 150px;
    border: 1px;
    
}
.footer h2{ 
    font: 30px;
    font-weight: bold;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}
.navbar li{
    position: relative;
    justify-content: center;
    list-style: none;
}
.navbar a{
    color: gray;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px 20px;
    text-decoration: none;
}
.navbar a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .30s;
}
.navbar a:hover::after{
    width: 100%;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-left: 40%;
    margin-right: 40%;
    padding: 50px 20px;
}




/*-------media queries------*/
/*------------upcoming matches---------*/
@media screen and (max-width: 412px) {
    .banner{
        width: 100%;
        border: 0;
        height:auto ;
    }
    .banner-image{
        width: 323px;
        height: 340px;
        margin-left: 15%;
    }
    .btn{
        width: 80%;
        height: auto;
    }
    .banner-items {
        width: 100%;
    }
    .banner-items h1{
        font-size: 50px;
    }
    .banner-items p{
        font-size: 25px;
    }
    .banner-container{
        display: block;
    }
    .mid{
        display: block;
    }
    .colum-card{
        display: block;
        margin-left: -15%;
    }
    .card-items{
        width: 375px;
        height: 247px;
        top: 740px;
        padding: 60px 0px 50px 70px;
    }
    .blogs-colum-card{
        display: block;
    }

    }
    /* .navbar{
        display: block;
        width: 347px;
        height: 300px;
        top: 3280px;
    }
    .navbar li{
        padding: 10px;
    }
    

}
