*{
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 2px;
    padding: 0;
}
:root{
    --bg-color: #161616;
    --second-bg-color:#191919;
    --text-color: #fff;
    --second-color:#f9fafcef;
    --main-color:#f9004d;
}
/*---------------top-banner-----------*/
.banner{
    border-width: 1321px;
    border-top: 50px;
    border-left: 140px;
    border-radius: 30px;
    background-color: var(--bg-color) ;
    color: var(--text-color);
    --big-font: 4.0rem;
    --h2-font: 3.0rem;
    --p-font: 2.1rem;
}
.banner-container{
    display: flex;
    align-content: space-between;

}
.banner-items{
    padding: 100px;
}
.banner-items h1{
    margin: 40px 0px 30px;
    font-size: var(--big-font);
}
.banner-items p{
    font-size: var(--p-font);
}
.btn{
    padding: 0 20px;
    height: 40px;
    display: inline-block;
    line-height: 42px;
    background: var(--main-color);
    color: var(--second-color);
    border: none;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all .30s;
}
.btn:hover{
    transform: translateY(-5px);
}

.banner-image img{
    height: 100vh;
}


/*----------mid----------*/
.mid{
    display: flex;
    margin-top: 50px;
    justify-content: space-evenly;
}

.aside{
    display: flex;
    width: 100%;
    text-align: center;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    background-color: #161616;
    border-radius: 5px;
    margin-top: 15px;
}
.aside a{
    margin-top: 10px;
    font-size: 1.0em;
    padding: 5px 10px;
    border: 2px solid var(--main-color) ;
    color: #000;
    background-color: var(--main-color);
    border-radius: 5px;
    color: white;
    font-weight: 900;
    padding: 16px 32px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}
.right-colum-card{
    margin-left: 40px;
    margin-bottom: 40px;
    margin-right: 0;
}
.colum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: left ;
}
.card-items{
    border: 2px solid rgb(53, 52, 52);
    width: 220px;
    margin: 20px;
    padding: 20px 10px 10px 10px;

}
.card{
    display: flex;
}
.schedule{
    justify-content: center;
    align-items: center;
}
/*-------------------------------blogs--------------------*/
.blogs-colum-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.blogs-card-items{
    border: 2px solid rgb(53, 52, 52);
    width: 312px;
    height: 362px;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 0px;
    padding: 0;
    border-radius: 12px;
}
.blogs-card-items img{
    width: 100%;
}
.blog-btn{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 15px;
}
.blog-card-icons{
    display: flex;

}
.card-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-gap: 15px;
    color: #161616;
    padding-left: 20px;
}













/*-----footer---------------*/

.footer{
    text-align: center;
    background-color: var(--bg-color);
    padding: 45px 150px 50px 150px;
    border: 1px;
    
}
.footer h2{ 
    font: 30px;
    font-weight: bold;
    color: var(--text-color);
}

.navbar{
    display: flex;
    justify-content: space-evenly;
}
.navbar li{
    position: relative;
    justify-content: center;
    list-style: none;
}
.navbar a{
    color: gray;
    font-weight: bold;
    font-size: 1rem;
    padding: 20px 20px;
    text-decoration: none;
}
.navbar a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background: var(--main-color);
    left: 0;
    bottom: -4px;
    transition: ease .40s;
}
.navbar a:hover::after{
    width: 100%;
}
.icons{
    display: flex;
    justify-content: center;
}